
nav {
  background-color: #FF8771;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  margin-left: 0;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}
button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f2f2f2;
  color: #333333;
  line-height: 1.5;
  background-image: url("assets/img/nuts.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#addNewRecipeDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 50px auto;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

h2 {
  font-size: 22px;
  margin-bottom: 20px;
 text-align: center;
   
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9; /* Background color for the form */
    border-radius: 8px; /* Rounded corners for the form */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for the form */
  }


.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333333
}

input,
textarea {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  width: 90%;
}

input[type="file"] {
  padding: 0;
}

button {
  padding: 10px 20px;
  background-color: #FF6347;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #FF8771;
}

#addRecipeBtn {
  margin-top: 10px;
}

#savedRecipesDiv {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.recipe-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-card img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

.recipe-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.recipe-card p {
  font-size: 14px;
  margin-bottom: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2

  );
max-width: 400px;
}

.close {
position: absolute;
top: 10px;
right: 10px;
font-size: 24px;
font-weight: bold;
color: #aaaaaa;
cursor: pointer;
}

#confirmationPopup p {
margin-bottom: 20px;
}

#confirmationPopup button {
margin-right: 10px;
}

footer {
text-align: center;
padding: 20px;
background-color: #dddddd;
color: #666666;
}

/* Responsive styles */
@media (max-width: 80%) {
#savedRecipesDiv {
grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
}